body {
  background-color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionally set the container height to 100% of the viewport height */
}

.centered-box {
  font-size: xx-large;
  color: orangered;
  text-align: center; /* Optionally center text horizontally */
}
